[package]
name = "libparsec_testbed"
version = "0.0.0"
edition = "2021"
license = "BUSL-1.1"

[dependencies]
libparsec_types = { path = "../types" }

hex-literal = "0.4.1"
crc32fast = "1.3.2"
serde = { version = "1.0.164", features = ["derive"] }
rmp-serde = "1.1.1"
lazy_static = "1.4.0"
reqwest = "0.11.17"
regex = "1.8.4"
log = "0.4.17"
paste = "1.0.12"
