pkg/
dist
node_modules
electron/build
electron/app
electron/src/
electron/dist
electron/capacitor.config.ts
electron/node_modules
electron/capacitor-electron
electron/scripts/build-capacitor-electron.js
src/views/testing/TestPage.vue
bindings
playwright.config.ts
merge-playwright.ts
src/parsec/mock_files
