pkg/
src/plugins/libparsec/trampoline.d.ts
src/plugins/libparsec/trampoline.ts
scripts/vite_plugin_wasm_pack.ts
dist
node_modules
electron/build
electron/app
electron/src/
electron/dist
electron/node_modules
src/views/TestPage.vue
bindings
