# Disable running scripts on npm install|ci|update in this project
#
# This is trade-off between security and functionality:
#
# Without this, ANY dependency (direct or transitive) in the dependency graph
# can have its `postinstall` (and any other) run-script automatically executed.
# This poses a security risk as it allows third-party dependencies to execute random
# operating system commands during your npm install process (the command are run with
# the privileges of the user that runs the npm install command).
#
# Some packages may legitimately require a postinstall script in order to perform set up tasks.
# These packages may not install correctly or may not work as expected with this option.
# In principle, this should be rare as the vast majority of packages follow npm recommendation
# of NOT using install script as best security practices.
# If needed, consider using https://www.npmjs.com/package/allow-scripts
# and keep an eye for native support of allow-list in npm https://github.com/npm/cli/issues/9172
ignore-scripts=true

# TODO: upgrade to npm v11 to use `min-release-age` to enforce a cooldown period

# Only versions that were available more than the given number of days ago will
# be installed. If there are no versions available for the current set of dependencies,
# the command will error.
#
# Keep this option in sync with `cooldown` option in `.github/dependabot.yml`.
# min-release-age=10

# Limits the ability for npm to fetch dependencies from git references (dependencies that point to a
# git repo instead of a version or semver range).
#
# Set to "root" only allows git dependencies defined in the project's package.json to be fetched installed.
# allow-git=root
