[package]
name = "libparsec_types"
version = "0.0.0"
edition = "2021"
license = " BUSL-1.1"
autotests = false

[[test]]
name = "integration"
path = "tests/mod.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# TODO: this feature is never referenced, is it useful ?
js = ["uuid/js"]
test-mock-time = []

[dependencies]
libparsec_crypto = { path = "../crypto" }
libparsec_serialization_format = { path = "../serialization_format" }
libparsec_platform_async = { path = "../platform_async" }

lazy_static = "1.4.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_with = "2.2.0"
rmp-serde = "1.1.1"
serde_bytes = "0.11.9"
chrono = "0.4.23"
# By default uuid crate uses `getrandom` directly instead of `rand`, however
# the latter is much faster (see. https://github.com/uuid-rs/uuid/pull/545,
# tl;dr: `rand` uses `getrandom` as seed then applies a fast chacha algo on it)
# Hence `fast-rng` feature which enables the use of `rand`.
uuid = { version = "1.2.2", features = ["serde", "v4", "fast-rng"] }
data-encoding = "2.3.3"
url = "2.3.1"
percent-encoding = "2.2.0"
regex = "1.7.3"
unicode-normalization = "0.1.22"
paste = "1.0.12"
flate2 = "1.0.25"
rand = "0.8.4"
thiserror = "1.0.40"
email-address-parser = "2.0.0-rc2"
fnmatch-regex = "0.2.0"
sha2 = "0.10.6"

[dev-dependencies]
libparsec_tests_fixtures = { path = "../tests_fixtures" }

pretty_assertions = "1.3.0"
serde_test = "1.0.159"
hex-literal = "0.3.3"
rstest_reuse = "0.4.0"
rstest = "0.17.0"

[build-dependencies]
glob = "0.3.0"
