version: 2
updates:
  #################
  # Github Action #
  #################

  - package-ecosystem: github-actions
    directory: /
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: monday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      workflows-grouped-update:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: github-actions
    directory: /.github/actions/setup-python-poetry
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: monday
      time: "04:20"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: github-actions
    directory: /.github/actions/use-pre-commit
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: monday
      time: "04:20"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled


  ########
  # Rust #
  ########

  - package-ecosystem: cargo
    directory: /
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: tuesday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      rust-grouped-update:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  ##########
  # Python #
  ##########

  - package-ecosystem: pip
    directory: /
    ignore:
      - dependency-name: toastedmarshmallow
      - dependency-name: trio_typing
      - dependency-name: typing-extensions
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: wednesday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      pythons-grouped-update:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  ##############
  # Javascript #
  ##############

  - package-ecosystem: npm
    directory: /client
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: thursday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      ionic-grouped-update:
        patterns:
          - "@ionic/*"
      capacitor-grouped-update:
        patterns:
          - "@capacitor/*"
          - "@capacitor-community/*"
      npm-grouped-udpate:
        patterns:
          - "*"
        exclude-patterns:
          - "@ionic/*"
          - "@capacitor/*"
          - "@capacitor-community/*"

    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /client/electron
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: thursday
      time: "04:20"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /bindings/electron
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: thursday
      time: "04:20"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /bindings/web
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: thursday
      time: "04:20"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /.cspell
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: thursday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      cspell-grouped-update:
        patterns:
          - "*"
    open-pull-requests-limit: 1
    rebase-strategy: disabled

  ########
  # Java #
  ########

  - package-ecosystem: gradle
    directory: /client/android
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: friday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      android-client-grouped-update:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: gradle
    directory: /bindings/android
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: weekly
      day: friday
      time: "04:20"
      timezone: Europe/Paris
    groups:
      android-binding-grouped-update:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    rebase-strategy: disabled
