version: 2
updates:
  #################
  # Github Action #
  #################

  - package-ecosystem: github-actions
    directory: /
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: github-actions
    directory: /.github/actions/setup-python-poetry
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: github-actions
    directory: /.github/actions/use-pre-commit
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled


  ########
  # Rust #
  ########

  - package-ecosystem: cargo
    directory: /
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  ##########
  # Python #
  ##########

  - package-ecosystem: pip
    directory: /
    ignore:
      - dependency-name: toastedmarshmallow
      - dependency-name: trio_typing
      - dependency-name: typing-extensions
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  ##############
  # Javascript #
  ##############

  - package-ecosystem: npm
    directory: /client
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /client/electron
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /bindings/electron
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /bindings/web
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: npm
    directory: /.cspell
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 1
    rebase-strategy: disabled

  ########
  # Java #
  ########

  - package-ecosystem: gradle
    directory: /client/android
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled

  - package-ecosystem: gradle
    directory: /bindings/android
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
    rebase-strategy: disabled
