version: 2
updates:
  - package-ecosystem: github-actions
    directory: /.github/actions/paths-filter
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: github-actions
    directory: /.github/actions/setup-python-poetry
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: github-actions
    directory: /.github/actions/setup-rust
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: github-actions
    directory: /.github/actions/use-pre-commit
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: github-actions
    directory: /
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: cargo
    directory: /
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "00:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: pip
    directory: /
    ignore:
      - dependency-name: toastedmarshmallow
      - dependency-name: trio_typing
      - dependency-name: typing-extensions
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directory: /oxidation/client
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directory: /oxidation/client/electron
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: gradle
    directory: /oxidation/client/android
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directory: /oxidation/bindings/electron
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: gradle
    directory: /oxidation/bindings/android
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directory: /oxidation/bindings/web
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5

  - package-ecosystem: cargo
    directory: /oxidation/bindings/common
    pull-request-branch-name:
      separator: "-"
    schedule:
      interval: monthly
      time: "23:30"
      timezone: Europe/Paris
    open-pull-requests-limit: 5
