# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.bat]
indent_style = tab
end_of_line = crlf

[LICENSE]
insert_final_newline = false

[Makefile]
indent_style = tab

[*.{yaml,yml}]
indent_size = 2

[*.{gql,graphql}]
indent_size = 2

[*.java]
indent_size = 2

[*.{vue,css,js,ts}]
indent_size = 2

[*.{rst,md}]
indent_size = 2

[{Podfile,*.podspec}]
indent_size = 2

[*.nsi]
indent_size = 2
