exclude: ^misc/bench.py$

default_language_version:
  rust: 1.89.0
  node: 22.14.0

repos:
  ##############
  # Common stuff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        alias: eol
      - id: trailing-whitespace
        exclude_types: [svg]
      - id: end-of-file-fixer
        alias: eof
        exclude_types: [svg]
        # `libparsec/version` must not have a trailing newline !
        exclude: ^libparsec/version$

  - repo: local
    hooks:
      # - id: releaser
      #   name: releaser
      #   entry: python ./misc/releaser.py check
      #   language: python
      #   language_version: python3
      #   pass_filenames: false
      #   require_serial: true
      - id: license_headers
        name: license_headers
        alias: headers
        entry: python ./misc/license_headers.py add
        language: python
        language_version: python3
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or:
          [
            python,
            pyi,
            sql,
            rust,
            vue,
            ts,
            tsx,
            javascript,
            jsx,
            c++,
            c,
            idl,
            jinja,
            markdown,
            scss,
          ]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell
        stages:
          - manual
        args:
          - --config=./.cspell/cspell.config.yml
          - --no-progress
          - --dot
          - --no-must-find-files
          - --show-suggestions
          - --no-summary
        additional_dependencies:
          - "@cspell/dict-en_us"
          - "@cspell/dict-fr-fr"
          - "@cspell/dict-fr-reforme"  # cspell:disable-line
          - "@cspell/dict-bash"
          - "@cspell/dict-shell"
          - "@cspell/dict-win32"

  # ShellCheck, the static analysis tool for shell scripts
  #
  # We do not use the official pre-commit hook [0] because it requires
  # docker executable (see [1]).
  # [0] https://github.com/koalaman/shellcheck-precommit
  # [1] https://github.com/koalaman/shellcheck/issues/2495
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [
          --severity=info,
          # Follow source statements to check source'd files.
          # Otherwise, shellcheck will only check input files (i.e. .sh files that has been changed)
          --external-sources,
          # Specify paths to search for sourced files (useful for SC1090 & SC1091)
          --source-path=SCRIPTDIR
        ]

  ########
  # Python

  # Long story short we cannot use pre-commit isolated environments for the
  # tools below because they require access to the project dependencies.
  #
  # So instead, we run these tools with `poetry run`, thus reusing project
  # configuration and virtual env:
  # - `poetry run` will stick to the shell current virtual env
  # - if the shell is not into a virtual env, poetry will create one and install Parsec&deps
  # - lastly, the tools are executed
  #
  # This approach requires the tools to be listed as dev dependencies but in
  # general (type checkers, linters, etc.) this is already the case since we
  # need them for development.
  #
  # This approach has the following benefits:
  # - It prevents going out of sync in tools version between pre-commit config
  #   and poetry.lock
  # - It saves time on initial run because we don't have to create isolated
  #   virtualenv for those tools
  # - Pre-commit hook are really simple, so it's no big deal to inline them.
  # - Pre-commit hook need sometime tweaks (e.g. ruff hook not correctly
  #   handling .pyi), it's more readable then to have all the config here.
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (using `poetry`)
        entry: poetry --project ./server run ruff check --fix
        require_serial: true
        pass_filenames: false
        language: system
        types_or: [python, pyi]

      - id: ruff-format
        name: ruff format (using `poetry`)
        entry: poetry --project ./server run ruff format
        require_serial: true
        language: system
        types_or: [python, pyi]

      - id: pyright
        name: pyright (using `poetry`)
        entry: poetry --project ./server run pyright
        require_serial: true
        language: system
        types_or: [python, pyi]
        args: [--project=server/]

      - id: deptry
        name: deptry (using `poetry`)
        entry: poetry --project ./server run deptry server --config=server/pyproject.toml
        files: ^server/
        types_or: [python, pyproj]
        pass_filenames: false  # deptry expects only the root directory to scan
        require_serial: true
        language: system

      - id: sqlfluff
        name: SQLFluff (using `poetry`)
        entry: poetry --project ./server run ./misc/lint_sql.py --fix
        types_or: [sql]
        files: |
            (?x)^(
                libparsec/crates/platform_storage/src/native/.*|
                server/parsec/components/postgresql/migrations/.*|
                server/tests/migrations/.*
            )$
        require_serial: true
        language: system

      - id: sqlfluff-in-python
        name: SQLFluff in Python server components (using `poetry`)
        entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
        types_or: [python]
        files: ^(server/parsec/components/postgresql/)
        require_serial: true
        language: system

      # powrap, script to fix indentation of .po files.
      #
      # - running with poetry in order to reuse environment from ./docs
      # - powrap is called via "make wrap" (see ./docs/Makefile)
      - id: powrap
        name: powrap (using `poetry`)
        entry: poetry --directory ./docs run make wrap
        pass_filenames: false
        types: [pofile]
        require_serial: true
        language: system

  ######
  # Rust

  - repo: local
    hooks:
      - id: toml-fmt
        name: toml-fmt
        entry: taplo fmt
        language: system
        types: [toml]

      - id: fmt
        name: fmt
        entry: cargo fmt
        language: system
        types: [rust]
        args: [--]

      - &clippy
        id: clippy
        name: clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --exclude=libparsec_bindings_android,
            --exclude=libparsec_bindings_web,
            --exclude=libparsec_bindings_electron,
            --,
            --deny=warnings,
            --deny=clippy::undocumented_unsafe_blocks,
            --deny=clippy::unwrap_used,
          ]

      - id: clippy-fix
        name: clippy-fix
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        stages:
          - manual
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --exclude=libparsec_bindings_android,
            --exclude=libparsec_bindings_web,
            --exclude=libparsec_bindings_electron,
            --fix,
            --allow-staged,
            --,
            --deny=warnings,
            --deny=clippy::undocumented_unsafe_blocks,
            --deny=clippy::unwrap_used,
          ]

  ####
  # Js

  # We use the same trick that for Python here: we run the tools with `npx`
  # from the GUI project directory to reuse the installed dependencies.
  - repo: local
    hooks:
      - id: eslint
        name: eslint (using `npx`)
        # Note we don't use `npx eslint` with `--prefix=./client` because it causes
        # random compat issues since every sub-command expects to be run from
        # the root of the node project.
        entry: |
          node -e "
            const { spawnSync } = require('child_process');
            const { exit, argv } = require('process');
            let files = argv.slice(1).map(function (x) { return x.replace(/^client\//, '') });
            let ret = spawnSync('npx', ['eslint', '--max-warnings=0'].concat(files), {cwd: './client', stdio: 'inherit'});
            exit(ret.status);
          "
        require_serial: true
        language: system
        files: ^client/
        types_or: [vue, ts, tsx, javascript, jsx]

      - id: vue-tsc
        name: vue-tsc (using `npx`)
        # Note we don't use `npx vue-tsc` with `--prefix=./client` because it causes
        # random compat issues since every sub-command expects to be run from
        # the root of the node project.
        entry: |
          node -e "
            const { spawnSync } = require('child_process');
            const { exit, argv } = require('process');
            let files = argv.slice(1).map(function (x) { return x.replace(/^client\//, '') });
            let ret = spawnSync('npx', ['vue-tsc', '--noEmit'].concat(files), {cwd: './client', stdio: 'inherit'});
            exit(ret.status);
          "
        require_serial: true
        language: system
        files: ^client/
        types_or: [vue, ts, tsx]

      - id: prettier
        name: prettier (using `npx`)
        # Note we don't use `npx prettier` with `--prefix=./client` because it causes
        # random compat issues since every sub-command expects to be run from
        # the root of the node project.
        entry: |
          node -e "
            const { spawnSync } = require('child_process');
            const { exit, argv } = require('process');
            let files = argv.slice(1).map(function (x) { return x.replace(/^client\//, '') });
            let ret = spawnSync('npx', ['prettier', '--write'].concat(files), {cwd: './client', stdio: 'inherit'});
            exit(ret.status);
          "
        require_serial: true
        language: system
        files: ^client/
        types_or: [vue, ts, tsx, javascript, jsx, html]

  ######
  # JSON

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.3
    hooks:
      - id: check-jsonschema
        name: Validate protocol files with jsonschema
        alias: check-protocol-schema
        types_or: [json5]
        files: ^libparsec/crates/protocol/schema/
        args: [--schemafile, json_schema/protocol.schema.json]
        additional_dependencies: [json5]

      - id: check-jsonschema
        name: Validate data files with jsonschema
        alias: check-data-schema
        types_or: [json5]
        files: ^libparsec/crates/types/schema/
        args: [--schemafile, json_schema/data.schema.json]
        additional_dependencies: [json5]

      - id: check-metaschema
        files: ^json_schema/

      - id: check-jsonschema
        name: Validate dependabot config with jsonschema
        alias: check-dependabot
        files: .github/dependabot.yml
        args:
          [
            --schemafile,
            https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/dependabot-2.0.json,
          ]

      - id: check-jsonschema
        name: Validate Read the doc configuration files
        alias: check-readthedocs
        files: .readthedocs.yml
        args:
          [
            --schemafile,
            https://raw.githubusercontent.com/readthedocs/readthedocs.org/main/readthedocs/rtd_tests/fixtures/spec/v2/schema.json,
          ]

      - id: check-jsonschema
        name: Validate snapcraft config
        alias: check-snapcraft
        files: ^packaging/snap/snap/snapcraft.yaml
        args:
          [
            --schemafile,
            https://raw.githubusercontent.com/snapcore/snapcraft/main/schema/snapcraft.json,
          ]
