[workspace]
members = [
    "oxidation/libparsec",
    "oxidation/libparsec_python",
    "oxidation/crates/*",
    "oxidation/bindings/neon",
    "oxidation/bindings/android/libparsec/rust",
    "oxidation/parsec_cli",
]
# Ignore bindings stuff given they are special snowflakes that require exotic toolchain and dependencies
default-members = ["oxidation/libparsec_python", "oxidation/libparsec", "oxidation/crates/*", "oxidation/parsec_cli"]
