[package]
name = "parsec"
# We don't use this version to set the version of parsec
# For that you're looking for `parsec/_version.py`
version = "0.0.0"
edition = "2021"

[package.metadata.maturin]
name = "parsec._parsec"

[lib]
name = "parsec"
crate-type = ["cdylib"]

[dependencies]
libparsec = { version = "0.1.0", path = "oxidation/libparsec" }

regex = "1.6.0"
paste = "1.0.9"
pyo3 = { version = "0.17.3", features = ["multiple-pymethods"] }
uuid = { version = "1.2.1", features = ["serde", "v4", "fast-rng"] }
tokio = { version = "1.21", features = ["rt", "rt-multi-thread"] }
lazy_static = "1.4.0"
futures = "0.3.21"

[features]
default = ["mock-time", "libparsec/use-sodiumoxide"]
mock-time = ["libparsec/mock-time"]
extension-module = ["pyo3/extension-module"]

[workspace]
members = [
    "oxidation/libparsec",
    "oxidation/libparsec/crates/*",
    "oxidation/bindings/web",
    "oxidation/bindings/electron",
    "oxidation/bindings/android/libparsec/rust",
]
# Ignore bindings stuff given they are special snowflakes that require exotic toolchain and dependencies
default-members = ["oxidation/libparsec"]

# A custom profile that is the fusion of `release` & `debug` profile.
# We want the speed of the `release` profile but with the debug assertions of the `debug` profile.
[profile.integration]
inherits = "release"
overflow-checks = true
debug-assertions = true
debug = true
incremental = true
opt-level = 1
codegen-units = 256
