[package]
name = "parsec"
# We don't use this version to set the version of parsec
# For that you're looking for `parsec/_version.py`
version = "0.0.0"
edition = "2021"

[package.metadata.maturin]
name = "parsec._parsec"

[lib]
name = "parsec"
crate-type = ["cdylib"]

[dependencies]
libparsec = { version = "0.1.0", path = "oxidation/libparsec" }

fancy-regex = "0.10.0"
paste = "1.0.8"
pyo3 = { version = "0.16.5", features = ["extension-module"] }
uuid = { version = "1.1.2", features = ["serde", "v4", "fast-rng"] }

[features]
default = ["mock-time"]
mock-time = ["libparsec/mock-time"]

[workspace]
members = [
    "oxidation/libparsec",
    "oxidation/libparsec/crates/*",
    "oxidation/libparsec_python",
    "oxidation/bindings/web",
    "oxidation/bindings/neon",
    "oxidation/bindings/android/libparsec/rust",
]
# Ignore bindings stuff given they are special snowflakes that require exotic toolchain and dependencies
default-members = ["oxidation/libparsec_python", "oxidation/libparsec"]
