[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

"trio-0.1.0-dev" = {ref = "389f1e1e01b410756e2833cffb992fd1ff856ae5", git = "https://github.com/python-trio/trio.git"}
simplejson = "==3.10.0"
pynacl = "==1.2.0"
pendulum = "==1.3.1"
marshmallow = "==2.14.0"
click = "==6.7"
attrs = "==17.3.0"
marshmallow-oneofschema = "*"
python-decouple = "==3.1"

[dev-packages]

sphinx = "*"
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
freezegun = "*"
tox = "*"
wheel = "*"
"flake8" = "*"
bumpversion = "*"
