/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/montserrat.ttf');
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/montserrat_bold.ttf');
}

/* New colors */
:root {
  /** font **/
  --ion-font-family: 'montserrat', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  /** colors **/
  --ion-color-primary: #4092FF;
  --ion-color-primary-rgb: 64,146,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #3880e0;
  --ion-color-primary-tint: #539dff;

  --ion-color-secondary: #f0f7ff;
  --ion-color-secondary-rgb: 0,66,153;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #003a87;
  --ion-color-secondary-tint: #1a55a3;

  --ion-color-tertiary: #004299;
  --ion-color-tertiary-rgb: 153,197,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #87ade0;
  --ion-color-tertiary-tint: #a3cbff;

  --ion-color-success: #28BA62;
  --ion-color-success-rgb: 40,186,98;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #23a456;
  --ion-color-success-tint: #3ec172;

  --ion-color-warning: #f6bd09;
  --ion-color-warning-rgb: 246,189,9;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d8a608;
  --ion-color-warning-tint: #f7c422;

  --ion-color-danger: #cd3246;
  --ion-color-danger-rgb: 205,50,70;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b42c3e;
  --ion-color-danger-tint: #d24759;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #d7d8da;
  --ion-color-light-rgb: 215,216,218;
  --ion-color-light-contrast: #202020;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #bdbec0;
  --ion-color-light-tint: #dbdcde;
}

/** Ionic CSS Variables **/
/*
* Dark Colors
* -------------------------------------------
*/

body.dark {
  --ion-color-primary: #121d43;
  --ion-color-primary-rgb: 18, 29, 67;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #101a3b;
  --ion-color-primary-tint: #2a3456;

  --ion-color-secondary: #006EFF;
  --ion-color-secondary-rgb: 0, 110, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0061e0;
  --ion-color-secondary-tint: #1a7dff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
* iOS Dark Theme
* -------------------------------------------
*/

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
* Material Design Dark Theme
* -------------------------------------------
*/

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}

/**** Parsec colors ****/

:root {
  /*** Light ***/
  /* Primary */
  --parsec-color-light-primary-30-opacity15: hsla(212, 100%, 97.1%, 0.15000000596046448);
  --parsec-color-light-primary-30: hsla(212, 100%, 97.1%, 1);
  --parsec-color-light-primary-50: hsla(212, 100%, 94.9%, 1);
  --parsec-color-light-primary-100: hsla(214, 100%, 90%, 1);
  --parsec-color-light-primary-200: hsla(214, 100%, 80%, 1);
  --parsec-color-light-primary-300: hsla(214, 100%, 70%, 1);
  --parsec-color-light-primary-400: hsla(214, 100%, 60%, 1);
  --parsec-color-light-primary-500: hsla(214, 100%, 62.5%, 1);
  --parsec-color-light-primary-600: hsla(214, 100%, 40%, 1);
  --parsec-color-light-primary-700: hsla(214, 100%, 30%, 1);
  --parsec-color-light-primary-800: hsla(214, 100%, 20%, 1);
  --parsec-color-light-primary-900: hsla(214, 100%, 10%, 1);

  /* Secondary */
  --parsec-color-light-secondary-contrast: hsla(240, 19.4%, 13.1%, 1);
  --parsec-color-light-secondary-text: hsla(240, 20.2%, 34.9%, 1);
  --parsec-color-light-secondary-grey: hsla(240, 19.6%, 60%, 1);
  --parsec-color-light-secondary-light: hsla(240, 19.5%, 84.9%, 1);
  --parsec-color-light-secondary-disabled: hsla(240, 20%, 93.1%, 1);
  --parsec-color-light-secondary-medium: hsla(240, 20%, 96.1%, 1);
  --parsec-color-light-secondary-premiere: hsla(240, 20%, 96.1%, 1);
  --parsec-color-light-secondary-background: hsla(240, 20%, 98%, 1);
  --parsec-color-light-secondary-inversed-contrast: hsla(0, 0%, 99.6%, 1);
}

/* **** Parsec typography **** */

/* *[class~="title-"]{
  line-height: 120%;
  font-weight: 600;
} */

/* ** title ** */
.title-h1 {
  line-height: 120%;
  font-weight: 600;
  font-size: 1.62rem;
}
.title-h2 {
  line-height: 120%;
  font-weight: 600;
  font-size: 1.375rem;
}
.title-h3 {
  line-height: 120%;
  font-weight: 600;
  font-size: 1.25rem;
}
.title-h4 {
  line-height: 120%;
  font-weight: 500;
  font-size: 1.12rem;
}
.title-h5 {
  line-height: 120%;
  font-weight: 600;
  font-size: 1rem;
}

/* ** subtitle ** */
.subtitles-normal{
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 156%;
  letter-spacing: 0.15px;
}
.subtitles-sm{
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 171%;
}

/* ** body ** */
.body-lg {
  font-size: 1.12rem;
  line-height: 161%;
  letter-spacing: 0.2px;
  font-weight: 500;
}
.body-normal {
  font-size: 1rem;
  line-height: 156%;
  letter-spacing: 0.15px;
  font-weight: 500;
}
.body-sm {
  font-size: 0.88rem;
  line-height: 143%;
  letter-spacing: 0.25px;
  font-weight: 500;
}

/* ** button ** */
.button-large {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1.12rem;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.button-medium {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  line-height: 20px;
}
.button-small {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 0.88rem;
  line-height: 17px;
}

/* ** caption ** */
.caption-code {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 9px;
  text-transform: uppercase;
  }
.caption-caption {
  font-size: 0.75rem;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.15px;
}
.caption-info {
  font-weight: 500;
  font-size: 0.62rem;
  line-height: 12px;
  text-transform: uppercase;
}

/* ** breadcrumb ** */
.breadcrumb-large {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
}
.breadcrumb-normal {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

/* ** menu ** */
.menu-link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}
.menu-default {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}
.menu-active {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

/* ** table ** */
.cell{
  letter-spacing: 0.15px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 125%;
}
.cell-title {
  letter-spacing: 0.15px;
  font-size: 0.88rem;
  font-weight: 600;
  line-height: 143%;
}

/* ** calendar ** */
.calendar-day {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 171%;
}
.calendar-weeksday {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.4px;
}

/* ** form ** */
.form-label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 156%;
  letter-spacing: 0.15px;
}
.form-input {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}
.form-helperText {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 133%;
  letter-spacing: 0.4px;
}


/**** Global CSS overloads ****/

/* ion-modal having auto width/height will be available in a future ionic release:
https: //github.com/ionic-team/ionic-framework/issues/24080 */
ion-modal.join-by-link-modal::part(content) {
  min-height: 300px;
  height: 30vh;
  position: relative;
  display: block;
  contain: content;
}

ion-modal.one-line-modal::part(content) {
  height: 210px;
}

ion-card-title {
  margin: 1em 0;
  font-weight: bold;
}

.header-md::after{
  background-image: none;
}

ion-card {
  --box-shadow: none;
}

ion-button{
  text-transform: none;
  --border-radius: 6px;
  --box-shadow: none;
}
/* button size */
ion-button.button-large{
  --padding-top: 1rem ;
  --padding-end: 1.25rem;
  --padding-bottom: 1rem ;
  --padding-start: 1.25rem;
  font-size: 1.12rem;
  line-height: 22px;
  letter-spacing: 0.02rem;
  height: 54px;
}

ion-button.button-default{
  --padding-top: 0.75rem;
  --padding-end: 1rem;
  --padding-bottom: 0.75rem;
  --padding-start: 1rem;
  font-size: 1rem;
  line-height: 20px;
  height: 44px;
}

ion-button.button-small{
  --padding-top: 0.625rem;
  --padding-end: 1rem;
  --padding-bottom: 0.625rem;
  --padding-start: 1rem;
  font-size: 0.88rem;
  line-height: 17px;
  height: 37px;
}

/* button default */
ion-button:not(.button-outline):not(.button-clear) {
  --background: var(--parsec-color-light-primary-500);
  --background-hover: var(--parsec-color-light-primary-700);
  --background-hover-opacity: none;
}

/* button outline */
ion-button.button-outline {
  --border-color: var(--parsec-color-light-primary-500);
  --color: var(--parsec-color-light-primary-500);
  --border-color-hover: var(--parsec-color-light-primary-700);
  --color-hover: var(--parsec-color-light-primary-700);
  --background-hover: none;
  --background-hover-opacity: none;
}

ion-button.button-outline:hover {
  --border-color: var(--parsec-color-light-primary-700);
}

/* ghost */
ion-button.button-clear {
  --color: var(--parsec-color-light-primary-500);
  --color-hover: var(--parsec-color-light-primary-700);
  --background-hover: var(--parsec-color-light-primary-50);
  --background-hover-opacity: none;
}

/* solid */
ion-button.button-solid{
  --background: var(--parsec-color-light-primary-100);
}

ion-grid.md {
  padding: 0;
}

body {
  scrollbar-color: var(--parsec-color-light-primary-600) var(--parsec-color-light-secondary-background);
}

::-webkit-scrollbar {
  width: 1em;
  border-radius: 1em;
  background:  var(--parsec-color-light-secondary-background);
  border: 1px solid var(--parsec-color-light-secondary-disabled);
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: var(--parsec-color-light-primary-600);
  border: 0.25em solid transparent;
  background-clip: content-box;
}
