[package]
name = "libparsec_tests_fixtures"
publish.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
version.workspace = true
repository.workspace = true

[lints]
workspace = true

[features]
default = [
    "test-with-client-connection-testbed",
    "test-with-platform-device-loader-testbed",
    "test-with-platform-storage-testbed",
]
test-with-client-connection-testbed = [
    "libparsec_client_connection",
    "libparsec_client_connection/test-with-testbed",
]
test-with-platform-device-loader-testbed = [
    "libparsec_platform_device_loader",
    "libparsec_platform_device_loader/test-with-testbed",
]
test-with-platform-storage-testbed = [
    "libparsec_platform_storage",
    "libparsec_platform_storage/test-with-testbed",
]

[dependencies]
libparsec_types = { workspace = true, features = [ "test-fixtures", "test-mock-time" ] }
libparsec_tests_lite = { workspace = true, features = ["parsec_test_macro"] }
libparsec_testbed = { workspace = true }
# Enable testbed support in crates here
libparsec_client_connection = { workspace = true, optional = true }
libparsec_platform_device_loader = { workspace = true, optional = true }
libparsec_platform_storage = { workspace = true, optional = true }

uuid = { workspace = true, features = ["v4", "fast-rng"] }
# `assert_matches!()` requires `unstable` feature

# No dev-dependencies: this crate is itself only used in other crates' own dev-dependencies
