[package]
name = "libparsec_platform_storage"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
test-with-testbed = ["libparsec_testbed"]

[dependencies]
libparsec_types = { path = "../types" }
libparsec_platform_async = { path = "../platform_async" }
libparsec_testbed = { path = "../testbed", optional = true }

log = "0.4.19"
lazy_static = { version = "1.4.0", optional = true }
paste = "1.0.12"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.29.1", features = ["fs", "sync"] }
diesel = { version = "2.1.0", features = ["sqlite", "returning_clauses_for_sqlite_3_35"], default-features = false }
# We add this dependency to have sqlite3 bundled into our code.
libsqlite3-sys = { version = "0.26.0", features = ["bundled"] }

[dev-dependencies]
# Note `libparsec_tests_fixtures` enables our `test-with-testbed` feature
libparsec_tests_fixtures = { path = "../tests_fixtures", default-features = false, features = ["test-with-platform-storage-testbed"] }
