[package]
name = "libparsec_platform_storage"
publish.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
version.workspace = true
repository.workspace = true

[features]
test-with-testbed = ["libparsec_testbed"]

[dependencies]
libparsec_types = { workspace = true }
libparsec_platform_async = { workspace = true }
libparsec_testbed = { workspace = true, optional = true }

log = { workspace = true }
paste = { workspace = true }
lazy_static = { workspace = true, optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["fs", "sync"] }
diesel = { workspace = true, features = ["sqlite", "returning_clauses_for_sqlite_3_35"] }
# We add this dependency to have sqlite3 bundled into our code.
libsqlite3-sys = { workspace = true, features = ["bundled"] }

[dev-dependencies]
# Note `libparsec_tests_fixtures` enables our `test-with-testbed` feature
libparsec_tests_fixtures = { workspace = true, default-features = false, features = ["test-with-platform-storage-testbed"] }
