{% extends "email/base.html.j2" %}
{% block document_title %}Parsec Account: Confirm account deletion{% endblock %}

{% block preheader %}You have requested to delete your Parsec Account.{% endblock %}

{% block title %}To confirm your Parsec Account deletion:{% endblock %}

{% block main_content %}
{% from "email/macros.html.j2" import gen_contents, render_link, render_fallback_link %}
{{
  gen_contents([
    namespace(
      title="Download Parsec application",
      text="Make sure to download and install Parsec:",
      extras=[
        render_link("https://parsec.cloud/en/start-parsec", "Download Parsec", extra_class="button-secondary"),
        render_fallback_link("https://parsec.cloud/en/start-parsec")
      ]
    ),
    namespace(
      text="Once installed, click on the link below to delete your Parsec Account.",
      extras=[
        render_link(deletion_url, "Delete my Parsec Account"),
        render_fallback_link(deletion_url)
      ]
    )
  ])
}}
{% endblock %}
