{% extends "email/base.html.j2" %}
{% block document_title %}Parsec Account: Confirm account deletion{% endblock %}

{% block preheader %}You have requested to delete your Parsec Account.{% endblock %}

{% block title %}Confirm your Parsec Account deletion{% endblock %}

{% block main_content %}
{% from "email/macros.html.j2" import gen_contents, render_code %}
{{
  gen_contents([
    namespace(
      title="Use deletion code",
      text="To confirm the deletion of your account, use the following code:",
      extras=[
        render_code(validation_code)
      ]
    ),
  ])
}}
{% endblock %}
