{% extends "email/base.txt.j2" %}
{% block main_content %}
You have requested to recover your Parsec Account.

To confirm your Parsec Account recovery, use the following code:

{{ validation_code }}

If you didn't request this email, someone may have accessed your account.
Please get in touch with us to report it.
{% endblock %}
