Hello!

Your request to join {{organization_id}} has been accepted.

You can now log into {{organization_id}} and start sharing your data securely.

For more information please refer to the User Guide:
https://docs.parsec.cloud/en/stable/userguide/join_organization.html#join-an-organization-with-a-join-request


Thank you,

Parsec Cloud team
https://parsec.cloud/
