Hi,

Your request to join {{ organization_id }} has been accepted.

Follow the next steps to add it to your organizations:

1. Open Parsec: {{ server_url }}
2. Choose to continue on Web or Desktop depending on where you submitted your join request
3. Click on "Add to my organizations" next to your join request

You can now log into {{ organization_id }} and start sharing your data securely.

For more information please refer to the User Guide:
https://docs.parsec.cloud/en/stable/userguide/join-organization.html#join-an-organization-with-a-join-request


Thank you,
Parsec Cloud team
https://parsec.cloud/
