Hello!

Your demand to join {{organization_id}} has been accepted.

You can now log into {{organization_id}} and start sharing documents.

For more information please refer to the User Guide:
https://docs.parsec.cloud/en/stable/userguide/join_organization.html


Thank you,

Parsec Cloud team
https://parsec.cloud/
