{% extends "email/base.html.j2" %}
{% block document_title %}Parsec Invitation{% endblock %}

{% block preheader %}Follow these steps to join your new workspace on Parsec.{% endblock %}

{% block title %}
{% if is_user_invitation %}
Invitation to join the organization {{ organization_id}}
{% endif %}
{% endblock %}

{% block description %}
<p style="line-height: 28.9px; color: #51517B; font-size: 16px;">
{% if is_user_invitation %}
You have received an invitation from <b>{{ greeter }}</b> to join the <b>{{ organization_id }}</b> organization on Parsec.
{% elif is_device_invitation %}
You have received an invitation to add a new device to the <b>{{ organization_id }}</b>
organization on Parsec.
{% elif is_shamir_recovery_invitation %}
You have received an invitation to start a recovery procedure on the <b>{{ organization_id }}</b>
organization on Parsec.
{% endif %}
</p>
{% endblock %}

{% block main_content %}
{% from "email/macros.html.j2" import gen_contents, render_link, render_fallback_link, render_note %}
{{
  gen_contents([
    namespace(
      title="Join the organization",
      text= ("To join the organization please accept the invitation and follow the steps with <b>%s</b>." | format(greeter)) if greeter else "Start the invitation process from a device already part of the organization, then follow the steps on Parsec.",
      extras=[
        render_link(invitation_url, "Accept invitation"),
        render_fallback_link(invitation_url)
      ]
    ),
    namespace(
      title="Download Parsec application",
      text="If you don't already have it, you can download the Parsec application:",
      extras=[
        render_link("https://parsec.cloud/en/start-parsec", "Download Parsec", extra_class="button-secondary"),
        render_fallback_link("https://parsec.cloud/en/start-parsec")
      ]
    )
  ])
}}

{% call render_note() %}
<p style="font-size: 14px; color: #51517B; padding-bottom: 8px;">
  <!-- HTML links that open in a new tab or window allow the target page to access the DOM of the
  origin page using window.opener unless link type noopener or noreferrer is specified. -->
  For more information on how to join an organization, please consult the
  <a style="color: #0058CC;" href="https://docs.parsec.cloud" rel="noopener noreferrer" target="_blank">Parsec documentation</a>.
</p>
<p>
  You can also consult the user guide:
  <a style="color: #0058CC;" href="https://docs.parsec.cloud/en/stable/userguide/join_organization.html" rel="noopener noreferrer" target="_blank">Join an organization</a>.
</p>
{% endcall %}
{% endblock %}
