Your MFA (Multi-Factor Authentication) has been reset for the {{ organization_id }} organization in Parsec.

Use the link below to re-enable MFA.

{{ totp_reset_url }}
{# TODO: Add a link to MFA documentation once available (see https://github.com/Scille/parsec-cloud/issues/12251) #}
