Your MFA (Multi-Factor Authentication) has been reset for the {{ organization_id }} organization in Parsec.

Use the link below to re-enable MFA.

{{ totp_reset_url }}

For more information please refer to the User Guide:
https://docs.parsec.cloud/en/stable/userguide/mfa.html
