{% extends "email/base.html.j2" %}
{% block document_title %}Your MFA has been reset in Parsec{% endblock %}

{% block preheader %}Your MFA has been reset for the {{ organization_id }} organization in Parsec.{% endblock %}

{% block title %}
Your MFA has been reset for <b>{{ organization_id }}</b>
{% endblock %}

{% block description %}
<p style="line-height: 28.9px; color: #51517B; font-size: 16px;">
Your MFA (Multi-Factor Authentication) has been reset for the <b>{{ organization_id }}</b> organization in Parsec.
</p>
{% endblock %}

{% block main_content %}
{% from "email/macros.html.j2" import gen_contents, render_link, render_fallback_link, render_note %}

{{
  gen_contents([
    namespace(
      title="Re-enable MFA",
      text="Use the link below to re-enable MFA:",
      extras=[
        render_link(totp_reset_url, "Enable MFA"),
        render_fallback_link(totp_reset_url)
      ]
    )
  ])
}}

{% call render_note() %}
<p style="font-size: 14px; color: #51517B; padding-bottom: 8px;">
  <!-- HTML links that open in a new tab or window allow the target page to access the DOM of the
  origin page using window.opener unless link type noopener or noreferrer is specified. -->
  For more information please refer to the User Guide:
  <a style="color: #0058CC;" href="https://docs.parsec.cloud/en/stable/userguide/mfa.html" rel="noopener noreferrer" target="_blank">Multi-factor Authentication (MFA)</a>.
</p>
{% endcall %}
{% endblock %}
