Your TOTP authentication has been reset for the {{ organization_id }} organization on Parsec.

To set up a new TOTP device, please open the following link in the Parsec application:

{{ totp_reset_url }}

For more information please refer to Parsec documentation: https://docs.parsec.cloud
