[package]
name = "libparsec_bindings_electron"
version = "0.0.0"
edition = "2021"
exclude = ["index.node"]

[features]
test-utils = ["libparsec/test-utils"]

[lib]
crate-type = ["cdylib"]

[dependencies]
libparsec = { path = "../../libparsec" }
lazy_static = "1.4.0"
tokio = { version = "1.25", features = ["rt-multi-thread"] }
neon = { version = "0.10", default-features = false, features = ["napi-6", "channel-api", "promise-api"] }
