  /* **** Parsec border-radius **** */

  :root {
    --parsec-radius-2: 2px;
    --parsec-radius-4: 4px;
    --parsec-radius-6: 6px;
    --parsec-radius-8: .5em;
    --parsec-radius-12: .75em;
    --parsec-radius-32: 2em;
    --parsec-radius-circle: 50%;
  }
