[package]
name = "libparsec_client_connection"
version = "0.1.0"
edition = "2021"
autotests = false

[features]
test-testbed-support = [
    "libparsec_testbed"
]

[[test]]
name = "auth_cmds"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libparsec_crypto = { path = "../crypto" }
# Add primitive type to be used with the protocol
libparsec_types = { path = "../types" }
# Provide possible command to send to the server
libparsec_protocol = { path = "../protocol" }
libparsec_testbed = { path = "../testbed", optional = true }

# Used to send HTTP request to the server.
reqwest = { version = "0.11.13", features = ["native-tls-vendored"] }
# Used to perform operation on URL.
url = "2.3.1"
# Use abstract crypto primitive, to allow to sign request.
# Used to encoded binary data.
base64 = "0.20.0"
chrono = "0.4.23"

[dev-dependencies]
# Note `libparsec_tests_fixtures` enables our `test-testbed-support` feature
libparsec_tests_fixtures = { path = "../tests_fixtures" }

anyhow = "1.0.66"
env_logger = "0.10.0"
http-body = "0.4.5"
hyper = { version = "0.14.22", features = ["server"] }
log = "0.4.17"
tokio = { version = "1.23", features = ["rt", "macros", "sync"] }
