<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Parsec server">
  <link rel="icon" href="/static/favicon-1077lkRZ.ico" />
  <link rel="stylesheet" type="text/css" href="/static/base-jFjh9D00.css">
  <title>{% block title %} Parsec - {% endblock %}</title>
  {% endblock %}
</head>

<body class="home">
  {% block body %}
  {% endblock %}
</body>

</html>
