Source: parsec-cloud
Section: python
Priority: extra
Maintainer: Scille <contact@scille.eu>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 0.8), python3-pytest
Standards-Version: 3.9.5

Package: parsec-cloud
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}, python3-pytest
#Depends: ${python:Depends}, ${misc:Depends}
Description: Parsec core
