/* MainWindow */

QMainWindow {
    background-color: #FFFFFF;
}

/* PushButton: ENABLED, DISABLED */

QPushButton {
    background-color: #0092FF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 38px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

QPushButton:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QPushButton:hover {
    background-color: #00B4FF;
}

/* LineEdit: ENABLED, READONLY, DISABLED */

QLineEdit, QTextEdit {
    background-color: #FFFFFF;
    border: 1px solid #99999980;
    color: #333333;
    padding-left: 15px;
    border-radius: 4px;
    height: 38px;
}

QLineEdit[readOnly="true"] {
    background-color: #EEEEEE;
}

QLineEdit:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QLineEdit[validity="0"] {
    border: 2px solid #F44336;
}

QLineEdit[validity="1"] {
    border: 2px solid #F1962B;
}

/* ComboBox: ENABLED, DISABLED */

QComboBox {
    background-color: #FFFFFF;
    border: 1px solid #99999980;
    color: #333333;
    padding-left: 15px;
    border-radius: 4px;
    height: 38px;
}

QComboBox:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QComboBox::down-arrow {
    image: url(:/icons/images/material/arrow_drop_down.svg);
    width: 24px;
    height: 24px;
    padding-right: 15px;
}

QComboBox::drop-down:disabled {
    background-color: #DDDDDD;
}

QComboBox::drop-down {
    background-color: #FFFFFF;
}

QComboBox QListView {
    background-color: #EEEEEE;
    color: #333333;
    border: 1px solid #99999980;
}

QComboBox QListView::item {
    height: 38px;
}

QComboBox QListView::item:disabled {
    background-color: #BBBBBB;
}

QComboBox QListView::item:selected {
    background-color: #0092FF;
    color: #FFFFFF;
}

/* CheckBox: ENABLED, DISABLED */

QCheckBox {
    color: #333333;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #99999980;
    color: #333333;
}

QCheckBox::indicator:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QCheckBox::indicator:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QCheckBox::indicator:checked {
    image: url(:/icons/images/material/check.svg)
}

/* RadioButton: ENABLED, DISABLED */


QRadioButton {
    color: #000000;
}

QRadioButton::indicator {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #99999980;
    border-radius: 10px;
    color: #333333;
}

QRadioButton::indicator:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QRadioButton::indicator:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QRadioButton::indicator:checked {
    image: url(:/icons/images/material/lens.svg)
}

/* TimeEdit: ENABLED, DISABLED */

QTimeEdit {
    background-color: #FFFFFF;
    border: 1px solid #99999980;
    color: #333333;
    padding-left: 15px;
    border-radius: 4px;
    height: 38px;
}

QTimeEdit:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QTimeEdit::up-arrow {
    width: 24px;
    height: 24px;
    padding-right: 15px;
    image: url(:/icons/images/material/arrow_drop_up.svg)
}

QTimeEdit::down-arrow {
    width: 24px;
    height: 24px;
    padding-right: 15px;
    image: url(:/icons/images/material/arrow_drop_down.svg)
}

QTimeEdit::up-button, QTimeEdit::down-button {
    border: none;
}

/* ScrollBar */

QScrollBar:vertical {
    background-color: #FFFFFF;
    width: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

QScrollBar::handle:vertical {
    background: #CCCCCC;
    border-radius: 4px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    border: none;
    background-color: none;
}

/* SpinBox: ENABLED, DISABLED */

QSpinBox {
    background-color: #FFFFFF;
    border: 1px solid #99999980;
    padding-left: 15px;
    border-radius: 4px;
    height: 38px;
}

QSpinBox:disabled {
    background-color: #DDDDDD;
    color: #999999;
}

QSpinBox::up-button, QSpinBox::down-button {
    border: none;
    width: 20px;
}

QSpinBox::up-arrow {
    image: url(:/icons/images/material/arrow_drop_up.svg);
    height: 24px;
    width: 24px;
}

QSpinBox::down-arrow {
    image: url(:/icons/images/material/arrow_drop_down.svg);
    height: 24px;
    width: 24px;
}

/* Tab: FOCUSED, UNFOCUSED */

QTabWidget::pane {
    background-color: #EEEEEE;
    border-bottom: none;
    padding: 0;
}

QTabWidget::tab-bar:top {
    top: 1px;
}

QTabWidget::tab-bar:bottom {
    bottom: 1px;
}

QTabWidget::tab-bar:left {
    right: 1px;
}

QTabWidget::tab-bar:right {
    left: 1px;
}

QTabBar {
    font-size: 14px;
    font-weight: bold;
}

QTabBar::tab {
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #99999980;
    border-left: 1px solid #99999980;
    border-right: 1px solid #99999980;
    color: #333333;
}

QTabBar::tab:selected {
    background: #FFFFFF;
    margin-bottom: 1px;
}

QTabBar::tab:!selected {
    background: #DDDDDD;
    color: #999999;
}

QTabBar::tab:top:!selected {
    margin-top: 3px;
}

QTabBar::tab:bottom:!selected  {
    margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    min-width: 8ex;
    margin-right: -1px;
    padding: 5px 10px 5px 10px;
}

QTabBar::tab:top:selected {
    border-bottom-color: none;
}

QTabBar::tab:bottom:selected {
    border-top-color: none;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last, QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

QTabBar::tab:left, QTabBar::tab:right {
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 10px 5px 10px 5px;
}

QTabBar::tab:left:selected {
    border-left-color: none;
}

QTabBar::tab:right:selected {
    border-right-color: none;
}

QTabBar::tab:left:last, QTabBar::tab:right:last, QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
    margin-bottom: 0;
}

QTabBar::close-button {
    image: url(:/icons/images/material/close.svg);
}

/* Tooltip */

QToolTip {
    background-color: #EEEEEE;
    color: #333333;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 5px;
}

/* BalloonTip (messages shown from the tray, Linux only) */

QBalloonTip {
    background-color: #EEEEEE;
    color: #333333;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 5px;
}

QBalloonTip QPushButton, QBalloonTip QPushButton:hover {
    background-color: none;
    border: none;
}

/* Menu: ENABLED, DISABLED */

QMenu {
    border: 1px solid #99999980;
    background-color: #EEEEEE;
    color: #333333;
}

QMenu::item {
    height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

QMenu::item::disabled {
    color: #999999;
}

QMenu::item:selected {
    background-color: #0092FF;
    color: #FFFFFF;
}

QMenu::separator {
    background-color: #999999;
}

/* Calendar */

QCalendarWidget QWidget#qt_calendar_navigationbar {
    background-color: #0092FF;
    color: #FFFFFF;
}

QCalendarWidget QWidget#qt_calendar_prevmonth {
    qproperty-icon: url(":/icons/images/material/navigate_before.svg");
}

QCalendarWidget QWidget#qt_calendar_nextmonth {
    qproperty-icon: url(":/icons/images/material/navigate_next.svg");
}

QCalendarWidget QWidget#qt_calendar_prevmonth:hover {
    qproperty-icon: url(":/icons/images/material/navigate_before.svg");
    background-color: #0092FF;
    border: none;
}

QCalendarWidget QWidget#qt_calendar_nextmonth:hover {
    qproperty-icon: url(":/icons/images/material/navigate_next.svg");
    background-color: #0092FF;
    border: none;
}

QCalendarWidget QWidget#qt_calendar_monthbutton:hover {
    background-color: #0092FF;
    color: #FFFFFF;
    border: none;
}

QCalendarWidget QWidget#qt_calendar_monthbutton:open {
    background-color: #0092FF;
    color: #FFFFFF;
    border: none;
}

QCalendar QWidget#qt_calendar_yearbutton {
    background-color: #0092FF;
    color: #FFFFFF;
    font-weight: bold;
}

QCalendar QWidget#qt_calendar_yearbutton:hover {
    background-color: #0092FF;
    color: #FFFFFF;
    font-weight: bold;
}

QCalendar QWidget#qt_calendar_yearbutton:open {
    background-color: #0092FF;
    color: #FFFFFF;
    font-weight: bold;
}

QCalendar QWidget#qt_calendar_yearedit:hover {
    background-color: #0092FF;
    color: #FFFFFF;
    font-weight: bold;
}

QCalendar QWidget#qt_calendar_yearedit:open {
    background-color: #0092FF;
    color: #FFFFFF;
    font-weight: bold;
}

/* Line */

Line {
    color: #DDDDDD;
}

/* Label */

QLabel {
    color: #333333;
}

/* QTableWidget */

QTableWidget {
    background-color: #FFFFFF;
}

QHeaderView {
    background-color: #222222;
}

QHeaderView::section {
    border: 0;
    background-color: #222222;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    text-align: left;
    padding-left: 15px;
}

QTableWidget::item {
    background-color: #FFFFFF;
    border: 0px;
    padding: 15px;
    color: #333333;
}

QTableWidget::item:selected {
    background-color: #DDDDDD;
    color: #222222;
}

QHeaderView::down-arrow {
    image: url(":/icons/images/material/arrow_drop_down.svg");
    subcontrol-position: center right;
    subcontrol-origin: padding;
    padding-right: 15px;
    width: 24px;
    height: 24px;
}

QHeaderView::up-arrow {
    image: url(":/icons/images/material/arrow_drop_up.svg");
    subcontrol-position: center right;
    subcontrol-origin: padding;
    padding-right: 15px;
    width: 24px;
    height: 24px;
}

/* ProgressBar */

QProgressBar {
    border: 1px solid #999999;
    text-align: center;
    border-radius: 4px;
    color: #000000;
}

QProgressBar:disabled {
    color: #333333;
    border: 1px solid #999999;
}

QProgressBar::chunk {
    background-color: #b3deff;
    width: 20px;
}

QProgressBar::chunk:disabled {
    background-color: #DDDDDD;
    width: 20px;
}

/* QTextEdit, QTextBrowser */

QTextEdit {
    color: #333333;
    background-color: #FFFFFF;
}
