[package]
name = "libparsec"
version = "0.1.0"
edition = "2021"
rust-version = "1.62.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["use-rustcrypto"]
use-rustcrypto = ["libparsec_crypto/use-rustcrypto"]
use-sodiumoxide = ["libparsec_crypto/use-sodiumoxide"]
test-utils = ["libparsec_types/test-utils", "platform_local_db/test-utils"]

[dependencies]
libparsec_core = { path = "crates/core", default-features = false }
libparsec_crypto = { path = "crates/crypto", default-features = false }
libparsec_client_types = { path = "crates/client_types", default-features = false }
libparsec_platform_async = { path = "crates/platform_async", default-features = false }
libparsec_platform_device_loader = { path = "crates/platform_device_loader", default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
libparsec_protocol = { path = "crates/protocol", default-features = false }
libparsec_core_fs = { path = "crates/core_fs", default-features = false }
libparsec_types = { path = "crates/types", default-features = false }
platform_local_db = { path = "crates/platform_local_db", optionnal = true }
