[package]
name = "libparsec"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libparsec_platform_native = { path = "./crates/platform_native", optional = true }
libparsec_platform_web = { path = "./crates/platform_web", optional = true }
parsec_api_crypto = { version = "0.0.0", path = "../crates/parsec_api_crypto" }

[features]
default = ["native"]
native = ["libparsec_platform_native"]
web = ["libparsec_platform_web"]
