[package]
name = "libparsec"
version = "0.1.0"
edition = "2021"
rust-version = "1.62.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libparsec_client_types = { path = "crates/client_types" }
libparsec_platform_async = { path = "crates/platform_async" }

[features]
mock-time = ["libparsec_types/mock-time"]
use-sodiumoxide = ["libparsec_crypto/use-sodiumoxide"]
use-rustcrypto = ["libparsec_crypto/use-rustcrypto"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
libparsec_crypto = { path = "crates/crypto" }
libparsec_platform_native = { path = "crates/platform_native" }
libparsec_protocol = { path = "crates/protocol" }
libparsec_core = { path = "crates/core" }
libparsec_core_fs = { path = "crates/core_fs" }
libparsec_types = { path = "crates/types" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
libparsec_platform_web = { path = "crates/platform_web" }
libparsec_crypto = { path = "crates/crypto", features = ["use-rustcrypto"], default-features = false }
