html {
    height: 100%;
    background: linear-gradient(#52c9ff, #0071ff);
}

.main-title {
    margin: 30px, 10%, 30px;
}

.text-secondary {
    color: #006eff !important;
}

.text-muted {
    color: #6c757d!important;
}

.text-center {
    text-align: center!important;
}

.main-title-spacer {
    width: 60px;
    height: 2px;
    margin: 20px auto 50px auto;
}

.bg-primary {
    background-color: #006eff !important;
}
