{% extends "base.html" %}
{% block body %}
<div class="main-title" style="text-align: center">
    <h1 class="text-secondary font-weight-bolder text-center">
        Parsec backend server is running !
    </h1>
    <p class="text-muted text-center" style="font-size: 25px">
        You should go <a href="https://www.parsec.cloud/get-parsec">install the Parsec client</a>
        or <a href="https://docs.parsec.cloud">have a look at the documentation</a>.
    </p>
    <div class="main-title-spacer bg-primary"></div>
</div>
{% endblock %}
