[package]
name = "libparsec_tests_lite"
publish.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
version.workspace = true
repository.workspace = true

[features]
# crates depending directly on use most likely doesn't need this `parsec_test`
# (they directly uses `test`/`rstest` instead).
# Basically only `libparsec_tests_fixtures` needs to enable this.
parsec_test_macro = ["libparsec_tests_macros"]

[dependencies]
libparsec_tests_macros = { workspace = true, optional = true }

env_logger = { workspace = true, features = ["auto-color", "humantime", "regex"] }
log = { workspace = true }
rstest = { workspace = true, features = ["async-timeout"] }
hex-literal = { workspace = true }
uuid = { workspace = true, features = ["v4", "fast-rng"] }
lazy_static = { workspace = true }
# `assert_matches!()` requires `unstable` feature
pretty_assertions = { workspace = true, features = ["std", "unstable"] }

# TODO: Currently `parsec_test` doesn't support web
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["rt", "macros"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-test = { workspace = true }
# No dev-dependencies: this crate is itself only used in other crates' own dev-dependencies
