 /* **** Parsec modal **** */

ion-modal::part(content) {
  border-radius: var(--parsec-radius-8);
  --min-width: var(--parsec-modal-width);
}

/* --join by link modal -- */
ion-modal.join-by-link-modal::part(content) {
  min-height: 300px;
  position: relative;
  display: block;
  contain: content;
}

/* modal */
ion-modal.one-line-modal::part(content) {
  height: 210px;
}

ion-modal {
  --height: auto;
  --width: auto;
  --max-width: 842px;
}

ion-modal .ion-page {
  position: relative;
  display: block;
  contain: content;
}

ion-modal .inner-content {
  max-height: 80vh;
  max-width: 52rem;
  overflow: auto;
}

.settings-modal {
  --width: 842px;
  --height: 600px;
}

.workspace-sharing-modal {
  --height: 700px;

  .ion-page {
    position: absolute;
    display: flex;
  }
}

.join-organization-modal {
  --width: 842px;
}

.changes-modal {
  --width: 842px;

  //required to scroll to the edge of the bottom (override --offset-top: 0px)
  .content-ltr {
    --offset-top: -20px !important;
  }
}

.greet-organization-modal {
  --width: 842px;

  // manage the two columns on Contact details step
  .user-info-page {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row !important;

    .input-container {
      &:nth-child(1), &:nth-child(2) {
        width: 100%;
        flex-shrink: 0;
      }
      &:nth-child(3), &:nth-child(4) {
        width: calc(50% - .75rem);
      }
      // input will be changed with a custom dropdown: https://github.com/Scille/parsec-cloud/issues/4603
      &:nth-child(4) {
        margin: auto;
      }
    }
  }
}

.file-upload-modal {
  --width: 842px;
}
