@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap");

/*
  BLUE PRINCIPAL #006eff - :hover #004edf
  BLUE MARINE    #121d43 - :hover #0a0f23
  ACCENT GREEN   #1abc9c
  ACCENT YELLOW  #ffc107
  LIGHT GRAY     #f1f2f2
*/

body {
  font-family: "Albert Sans", Roboto, "Helvetica Neue", sans-serif !important;
}

.wy-nav-content-wrap,
.wy-nav-side,
.wy-nav-top,
.wy-side-nav-search {
  background-color: rgba(0, 0, 0, 0);
}

.wy-side-nav-search > a img.logo,
.wy-side-nav-search .wy-dropdown > a img.logo {
  height: 120px;
  margin-top: 25px;
}

.wy-side-nav-search > div.version {
  color: #aaaaaa;
  visibility: hidden;
}

a,
a:visited,
.fa-bars,
.fa-book,
.fa-github,
.wy-nav-top a {
  color: #006eff;
}

a:hover,
a:visited:hover,
.fa-bars:hover,
.fa-book:hover,
.fa-github:hover,
.wy-nav-top a:hover {
  color: #004edf;
}

.wy-menu-vertical a {
  color: #aaaaaa;
}

.wy-menu-vertical a:hover {
  color: #ffffff;
  background-color: #006eff;
}

.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l2.current > a {
  background-color: rgba(0, 0, 0, 0);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
  color: #006eff;
}

.wy-menu-vertical li.current a {
  border-right: none;
}

.wy-menu-vertical li.current a:hover {
  color: #ffffff;
  background-color: #0066ff;
}

.wy-menu-vertical p.caption {
  color: #006eff;
}

.wy-side-nav-search input[type="text"] {
  border-color: #006eff;
}

.wy-menu-vertical li span.toctree-expand:before {
  content: "\f105";
  font-weight: bold !important;
}

.wy-menu-vertical li.on a span.toctree-expand:before,
.wy-menu-vertical li.current > a span.toctree-expand:before {
  content: "\f107";
  font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121d43;
}

.highlight {
  background: #f1f2f2;
}

.rst-content tt.literal,
.rst-content tt.literal,
.rst-co {
  padding-top: 20px;
}

/* -- Admonition directives (note, warning, ...) */

/* Common for all admonition classes  */
.rst-content .admonition-todo,
.rst-content .attention,
.rst-content .caution,
.rst-content .hint,
.rst-content .important,
.rst-content .note,
.rst-content .seealso,
.rst-content .tip,
.rst-content .warning {
  border: 1px solid #e1e4e5;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #121d43;
}

/* Specific color by admonition class */

.rst-content .note .admonition-title,
.rst-content .seealso .admonition-title {
  background-color: rgba(0, 0, 0, 0);
  color: #006eff;
}

.rst-content .hint .admonition-title,
.rst-content .important .admonition-title,
.rst-content .tip .admonition-title {
  background-color: rgba(0, 0, 0, 0);
  color: #1abc9c;
}

.rst-content .admonition-todo .admonition-title,
.rst-content .attention .admonition-title,
.rst-content .caution .admonition-title,
.rst-content .warning .admonition-title {
  background-color: rgba(0, 0, 0, 0);
  color: #ffc107;
}

.ethical-dark-theme div.ethical-sidebar {
  background-color: rgba(0, 0, 0, 0);
  border: none !important;
  color: #c2c2c2 !important;
  margin-top: 60px;
}

.ethical-dark-theme div.ethical-sidebar a {
  background-color: rgba(0, 0, 0, 0);
  border: none !important;
  color: #c2c2c2 !important;
}

.rst-versions {
  background: rgba(0, 0, 0, 0) !important;
  color: #006eff !important;
}

.rst-versions .rst-current-version {
  background: #ffffff !important;
  color: #006eff !important;
}

.rst-versions .rst-other-versions {
  background: #ffffff !important;
  color: #aaaaaa !important;
}

.rst-content .code-block-caption .rst-versions .rst-current-version .headerlink,
.rst-content .rst-versions .rst-current-version .admonition-title,
.rst-content code.download .rst-versions .rst-current-version span:first-child,
.rst-content dl dt .rst-versions .rst-current-version .headerlink,
.rst-content h1 .rst-versions .rst-current-version .headerlink,
.rst-content h2 .rst-versions .rst-current-version .headerlink,
.rst-content h3 .rst-versions .rst-current-version .headerlink,
.rst-content h4 .rst-versions .rst-current-version .headerlink,
.rst-content h5 .rst-versions .rst-current-version .headerlink,
.rst-content h6 .rst-versions .rst-current-version .headerlink,
.rst-content p.caption .rst-versions .rst-current-version .headerlink,
.rst-content table > caption .rst-versions .rst-current-version .headerlink,
.rst-content tt.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .fa,
.rst-versions .rst-current-version .icon,
.rst-versions .rst-current-version .rst-content .admonition-title,
.rst-versions .rst-current-version .rst-content .code-block-caption .headerlink,
.rst-versions .rst-current-version .rst-content code.download span:first-child,
.rst-versions .rst-current-version .rst-content dl dt .headerlink,
.rst-versions .rst-current-version .rst-content h1 .headerlink,
.rst-versions .rst-current-version .rst-content h2 .headerlink,
.rst-versions .rst-current-version .rst-content h3 .headerlink,
.rst-versions .rst-current-version .rst-content h4 .headerlink,
.rst-versions .rst-current-version .rst-content h5 .headerlink,
.rst-versions .rst-current-version .rst-content h6 .headerlink,
.rst-versions .rst-current-version .rst-content p.caption .headerlink,
.rst-versions .rst-current-version .rst-content table > caption .headerlink,
.rst-versions .rst-current-version .rst-content tt.download span:first-child,
.rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand,
.rst-versions .rst-other-versions dd a,
.wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand {
  color: #006eff;
}

/* Add a little extra padding-bottom to all images */
img {
  padding-bottom: 1em;
}

.logo-background {
  background-color: #ccc;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
