@import url("css/theme.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*
  BLEU PRINCIPAL #006EFF  - :hover #004EDF
  BLEU MARINE #121D43  - :hover #0A0F23
  ACCENT JAUNE #FFC107
  GRISE CLAIRE #F1F2F2
*/


body {
  font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif !important;
}

.wy-side-nav-search { background-color: rgba(0, 0, 0, 0); }
.wy-nav-side { background-color: rgba(0, 0, 0, 0); }
.wy-nav-content-wrap { background-color: rgba(0, 0, 0, 0); }
.wy-nav-top { background-color: rgba(0, 0, 0, 0); }

.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
  height: 120px;
  margin-top: 25px;
}

.wy-nav-top a { color: #006EFF; } .wy-nav-top a:hover { color: #004EDF; }
.fa-bars { color: #006EFF; } .fa-bars:hover { color: #004EDF; }
.fa-github { color: #006EFF; } .fa-github:hover { color: #004EDF; }
a { color: #006EFF; } a:hover { color: #004EDF; }
a:visited { color: #121D43; } a:visited:hover { color: #0A0F23; }

.wy-menu-vertical a { color: #AAAAAA; } .wy-menu-vertical a:hover { color: #FFFFFF; background-color: #006EFF; }
.wy-menu-vertical li.current { background-color: rgba(0, 0, 0, 0); }
.wy-menu-vertical li.toctree-l2.current>a { background-color: rgba(0, 0, 0, 0); }
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a { background-color: rgba(0, 0, 0, 0); }
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover { color: #006EFF; }
.wy-menu-vertical li.current a { border-right: none; }
.wy-menu-vertical li.current a:hover { color: #FFFFFF; background-color: #0066FF; }
.wy-menu-vertical p.caption { color: #006EFF; }
.wy-side-nav-search input[type=text] { border-color: #006EFF; }

.fa-book { color: #006EFF; } .fa-book:hover { color: #004EDF; }


h1, h2, h3, h4, h5, h6 { color: #121D43; }

.highlight { background: #F1F2F2; }
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal { color: #006EFF; font-weight: bold; }

.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.admonition {
  border: 1px solid #E1E4E5;
  padding-top: 28px;
}
.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition .admonition-title {
  background-color: rgba(0, 0, 0, 0); color: #006EFF;
}
.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.admonition {
  background-color: rgba(0, 0, 0, 0); color: #121D43;
}

.wy-alert.wy-alert-warning, .rst-content .wy-alert-warning.note, .rst-content .attention, .rst-content .caution, .rst-content .wy-alert-warning.danger, .rst-content .wy-alert-warning.error, .rst-content .wy-alert-warning.hint, .rst-content .wy-alert-warning.important, .rst-content .wy-alert-warning.tip, .rst-content .warning, .rst-content .wy-alert-warning.seealso, .rst-content .admonition-todo, .rst-content .wy-alert-warning.admonition {
  border: 1px solid #E1E4E5;
  padding-top: 28px;
}
.wy-alert.wy-alert-warning, .rst-content .wy-alert-warning.note, .rst-content .attention, .rst-content .caution, .rst-content .wy-alert-warning.danger, .rst-content .wy-alert-warning.error, .rst-content .wy-alert-warning.hint, .rst-content .wy-alert-warning.important, .rst-content .wy-alert-warning.tip, .rst-content .warning, .rst-content .wy-alert-warning.seealso, .rst-content .admonition-todo, .rst-content .wy-alert-warning.admonition {
  background-color: rgba(0, 0, 0, 0); color: #121D43;
}
.wy-alert.wy-alert-warning .wy-alert-title, .rst-content .wy-alert-warning.note .wy-alert-title, .rst-content .attention .wy-alert-title, .rst-content .caution .wy-alert-title, .rst-content .wy-alert-warning.danger .wy-alert-title, .rst-content .wy-alert-warning.error .wy-alert-title, .rst-content .wy-alert-warning.hint .wy-alert-title, .rst-content .wy-alert-warning.important .wy-alert-title, .rst-content .wy-alert-warning.tip .wy-alert-title, .rst-content .warning .wy-alert-title, .rst-content .wy-alert-warning.seealso .wy-alert-title, .rst-content .admonition-todo .wy-alert-title, .rst-content .wy-alert-warning.admonition .wy-alert-title, .wy-alert.wy-alert-warning .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-warning .admonition-title, .rst-content .wy-alert-warning.note .admonition-title, .rst-content .attention .admonition-title, .rst-content .caution .admonition-title, .rst-content .wy-alert-warning.danger .admonition-title, .rst-content .wy-alert-warning.error .admonition-title, .rst-content .wy-alert-warning.hint .admonition-title, .rst-content .wy-alert-warning.important .admonition-title, .rst-content .wy-alert-warning.tip .admonition-title, .rst-content .warning .admonition-title, .rst-content .wy-alert-warning.seealso .admonition-title, .rst-content .admonition-todo .admonition-title, .rst-content .wy-alert-warning.admonition .admonition-title {
  background-color: rgba(0, 0, 0, 0); color: #FFC107;
}

.ethical-dark-theme div.ethical-sidebar { background-color: rgba(0, 0, 0, 0); border: none!important; color: #c2c2c2 !important; margin-top: 60px;}
.ethical-dark-theme div.ethical-sidebar a { background-color: rgba(0, 0, 0, 0); border: none!important; color: #c2c2c2 !important; }

.rst-versions { background: rgba(0, 0, 0, 0)!important; color: #006EFF!important; }
.rst-versions .rst-current-version { background: rgba(0, 0, 0, 0)!important; color: #006EFF!important; }
.rst-versions .rst-other-versions { background: rgba(0, 0, 0, 0)!important; color: #AAAAAA!important; }
.rst-versions .rst-current-version .fa, .rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand, .wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand, .rst-versions .rst-current-version .rst-content .admonition-title, .rst-content .rst-versions .rst-current-version .admonition-title, .rst-versions .rst-current-version .rst-content h1 .headerlink, .rst-content h1 .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content h2 .headerlink, .rst-content h2 .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content h3 .headerlink, .rst-content h3 .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content h4 .headerlink, .rst-content h4 .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content h5 .headerlink, .rst-content h5 .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content h6 .headerlink, .rst-content h6 .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content dl dt .headerlink, .rst-content dl dt .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content p.caption .headerlink, .rst-content p.caption .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content table>caption .headerlink, .rst-content table>caption .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content .code-block-caption .headerlink, .rst-content .code-block-caption .rst-versions .rst-current-version .headerlink, .rst-versions .rst-current-version .rst-content tt.download span:first-child, .rst-content tt.download .rst-versions .rst-current-version span:first-child, .rst-versions .rst-current-version .rst-content code.download span:first-child, .rst-content code.download .rst-versions .rst-current-version span:first-child, .rst-versions .rst-current-version .icon {
  color: #006EFF;
}
