name: Build & Publish Parsec Server Docker Image

# cspell:words buildx

on:
  workflow_dispatch:
  pull_request:
    paths:
      - server/packaging/server/**
      - .github/workflows/docker-server.yml
  # Only run on pushed tag because we don't want this workflow to run everytime we push something to the main branch.
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
      - nightly

permissions:
  contents: write
  packages: write

# We set `concurrency` to prevent having this workflow being run on code that is not up-to-date on a PR (a user make multiple push in a quick manner).
# But outside of a PR, we want to have only 1 workflow to be run at the same time on a given git ref
concurrency:
  group: docker-server-${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  docker-server:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin v5.0.0
        timeout-minutes: 3

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log in to the Github Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # pin v6.0.0
        id: setup-python
        with:
          python-version: 3.12

      - name: Get current version
        id: version
        run: python misc/releaser.py version --uniq-dev | tee -a $GITHUB_OUTPUT
        timeout-minutes: 1

      - name: Generate build metadata
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        id: metadata
        with:
          images:
            ghcr.io/scille/parsec-cloud/parsec-server
          # Manually set some labels:
          # - The title to be more specific than just the repo name.
          # - The license label as it's not correctly detect by the action
          #   (internally it use the detected license from github but itself does not support our license)
          # - The documentation URL
          # - The version labels to the full version.
          #
          # We use the spec defined here: https://github.com/opencontainers/image-spec/blob/main/annotations.md
          labels: |
            org.opencontainers.image.title=The Parsec-Cloud server
            org.opencontainers.image.licenses=BUSL-1.1
            org.opencontainers.image.documentation=https://docs.parsec.cloud/en/stable/hosting/introduction.html
            org.opencontainers.image.version=${{ steps.version.outputs.full }}
          # We set the same values as labels for annotations
          annotations: |
            manifest:org.opencontainers.image.title=The Parsec-Cloud server
            manifest:org.opencontainers.image.licenses=BUSL-1.1
            manifest:org.opencontainers.image.documentation=https://docs.parsec.cloud/en/stable/hosting/introduction.html
            manifest:org.opencontainers.image.version=${{ steps.version.outputs.full }}
          tags: |
            type=semver,pattern={{ version }}
            type=semver,pattern={{ major }}.{{ minor }}
            type=raw,value=${{ steps.version.outputs.docker }}
            type=schedule,enable=${{ github.event_name == 'push' && github.ref_type == 'tag' && github.ref == 'refs/tags/nightly' && 'true' || 'false' }},pattern=nightly
          flavor: |
            latest=${{ github.event_name == 'push' && github.ref_type == 'tag' }}

      - name: Build and export to Docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: .
          file: server/packaging/server/server.dockerfile
          load: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          push: false
        timeout-minutes: 20

      - name: Start docker test container
        id: test-container
        shell: bash
        run: |
          (
            echo -n "id=";
            docker run --detach --publish 6777:6777 --rm --name=parsec-server ${{ steps.build.outputs.imageid }} -- run --port=6777 --dev --host=0.0.0.0
          ) | tee $GITHUB_OUTPUT
        timeout-minutes: 1

      - name: Test docker image
        run: python .github/scripts/test-server.py
        timeout-minutes: 1

      - name: Stop docker test container
        run: docker container stop ${{ steps.test-container.outputs.id }}
        timeout-minutes: 1

      - name: Image to be published
        run: echo "${{ steps.metadata.outputs.tags }}"

      - name: Build and publish
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: publish
        with:
          context: .
          file: server/packaging/server/server.dockerfile
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          push: ${{ (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'workflow_dispatch' }}
