name: package-windows

# This workflow will be triggered on:
# - push on the main branch
# - push on the releases branches
# - tag push matching the version pattern
on:
  pull_request:
    paths:
      - .github/workflows/package-windows.yml
  push:
    branches:
      - master
      - "[0-9]+.[0-9]+"
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

env:
  python-version: "3.9"
  rust-version: 1.62.0

jobs:
  package-windows-build-wheel:
    runs-on: windows-2022
    env:
      # Need feature from poetry 1.2.x that aren't present in 1.1.x
      poetry-version: 1.2.0b3
    outputs:
      wheel-version: ${{ steps.wheel-version.outputs.version }}
    steps:
      - name: Install poetry
        shell: bash
        run: |
          set -eux
          export POETRY_HOME=${APPDATA}/.poetry
          curl -sSL https://install.python-poetry.org \
            | python3 - --version=${{ env.poetry-version }}
          echo "${APPDATA}\.poetry\bin" >> "$GITHUB_PATH"

      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin v3.0.2

      - uses: ./.github/actions/setup-rust
        with:
          version: ${{ env.rust-version }}
          cache-key: build-wheel

      - uses: actions/setup-python@c4e89fac7e8767b327bbad6cb4d859eda999cf08  # pin v4.1.0
        id: setup-python
        with:
          python-version: ${{ env.python-version }}
          cache: poetry

      - name: Poetry set python path to use
        run: poetry env use ${{ steps.setup-python.outputs.python-path }}

      - name: Get wheel version
        id: wheel-version
        shell: bash
        run: |
          set -eux
          # Retrieve Parsec version and customize it if we are not building on a tag
          # See https://www.python.org/dev/peps/pep-0440/#local-version-identifiers
          if ([ "${{ github.ref_type }}" == "tag" ])
          then
            echo "Using provided tag"
            # Use tag name as version
            VERSION=`git describe --tag`
          else
            echo "Using version in 'parsec/_version.py'"
            # Use `<tag_name>+dev<commit_hash>` as version
            VERSION=`sed -n 's/^__version__ = "\(.*\)"$/\1/p' parsec/_version.py`
            COMMIT=`git rev-parse --verify --short HEAD`
            VERSION="$VERSION$COMMIT"
            # Customize version with tag
            sed -i "s/^__version__ = .*$/__version__ = \"$VERSION\"/" parsec/_version.py
            # Maturin don't support local version identifier, those result in cibuildwheel to failed because of
            # A bad formatted version in metadata
            # test $(grep -E 'version = ' -o pyproject.toml | wc -l) -eq 2  # Sanity check for the next sed
            # sed -i "s/^version = .*$/version = \"$VERSION\"/" pyproject.toml
          fi

          echo "::warning title=Wheel version::$VERSION"
          echo "::set-output name=version::$VERSION"

      - name: Build requirements & constraint files
        run: python packaging/wheel/wheel_it.py . --output dist --skip-wheel

      - name: Install CIBuildWheel
        run: pip install cibuildwheel==2.8.1

      - name: Build Wheel
        run: python -m cibuildwheel --output-dir dist

      - name: Set file for wheel version
        run: echo ${{ steps.wheel-version.outputs.version }} > dist/version

      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 # pin v3.1.0
        with:
          name: ${{ runner.os }}-${{ runner.arch }}-wheel
          path: dist/

  package-windows-build-installer-content:
    needs: package-windows-build-wheel
    runs-on: windows-2022
    steps:
      - uses: actions/setup-python@c4e89fac7e8767b327bbad6cb4d859eda999cf08  # pin v4.1.0
        with:
          python-version: ${{ env.python-version }}

      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin v3.0.2

      - uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # pin v3.0.0
        with:
          name: ${{ runner.os }}-${{ runner.arch }}-wheel
          path: dist

      - name: Prepare build directory
        run: Copy-Item -Recurse -Path ${{ github.workspace }}\packaging\windows\* -Destination ${{ runner.temp }}
        working-directory: ${{ runner.temp }}

      - name: Debug ${{ runner.temp }} dir
        run: Get-ChildItem -Recurse -Path ${{ runner.temp }}

      - name: Freeze Parsec
        run: python3 freeze_program.py ${{ github.workspace }} --wheel-it-dir ${{ github.workspace }}/dist
        working-directory: ${{ runner.temp }}

      - name: Debug build directory
        run: Get-ChildItem -Path ${{ runner.temp }}\build

      # Cannot do the NSIS installer part in CI given it requires to sign `parsec.exe`

      - name: Prepare artifact
        run: |
          md dist
          Copy-Item -Path build\manifest.ini -Destination dist
          Copy-Item -Path build\install_files.nsh -Destination dist
          Copy-Item -Path build\uninstall_files.nsh -Destination dist
          Copy-Item -Recurse -Path build\parsec-* -Destination dist
          Copy-Item -Path build\winfsp-* -Destination dist
        working-directory: ${{ runner.temp }}

      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 # pin v3.1.0
        with:
          name: ${{ runner.os }}-${{ runner.arch }}-installer-content
          path: ${{ runner.temp }}/dist/
