name: package-linux

on:
  pull_request:
  push:
    branches:
      - master
      - "[0-9]+.[0-9]+"

env:
  rust-version: 1.62.0
  python-version: "3.9"
  poetry-version: 1.1.13

jobs:
  package-linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Debug snapcraft version
        run: |
          set -e
          echo "::warning title=Snapcraft Version::using $(snapcraft --version)"
