name: Publish docker testbed

on:
  workflow_dispatch:
  pull_request:
    paths:
      - libparsec/**
      - server/tests/scripts/run_testbed_server.py
      - server/packaging/testbed-server/**
      - .github/workflows/publish-testbed.yml
  push:
    branches:
      - master
    paths:
      - libparsec/**
      - server/tests/scripts/run_testbed_server.py
      - server/packaging/testbed-server/**
      - .github/workflows/publish-testbed.yml

permissions:
  contents: write
  packages: write

jobs:
  publish-testbed:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # pin v3.5.3
        timeout-minutes: 5

      - name: Log in to the Container registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        run: bash server/packaging/testbed-server/build.sh 2>&1
        env:
          WRITE_ENV: 1
        timeout-minutes: 20

      - name: Publish docker image
        run: |
          source parsec-testbed.env

          for tag in $UNIQ_TAG; do
            echo "Pushing tag \`$tag\` to \`$PREFIX\`"
            docker push $PREFIX/parsec-testbed-server:$tag
          done
        timeout-minutes: 5
