name: quality-assurance

on:
  pull_request:
  push:
    branches:
      - master

env:
  python-version: "3.9"
  rust-version: 1.62.0
  node-version: "16"

jobs:
  check-quality-assurance:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin v3.0.2

      - uses: actions/setup-python@c4e89fac7e8767b327bbad6cb4d859eda999cf08  # pin v4.1.0
        with:
          python-version: ${{ env.python-version }}

      - uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93  # pin v3.4.1
        with:
          node-version: ${{ env.node-version }}

      - uses: ./.github/actions/setup-rust
        with:
          version: ${{ env.rust-version }}
          components: rustfmt, clippy
          cache-key: qa

      - name: Debug installed tools
        run: |
          set -x
          python --version
          node --version
          # Rust tools
          whereis rustup
          rustup --version
          whereis rustc
          rustc --version
          whereis cargo
          cargo --version

      - name: Debug rust cache
        run: |
          ls -la ~/.cargo/{.,bin,git,registry} target || true

      - name: Check Commit Signature
        run: python .github/scripts/check_commit_signature.py

      - name: Check Newsfragment
        if: |
          startsWith(github.ref, 'refs/pull/')
          && !(
            startsWith(github.head_ref, 'dependabot')
            || startsWith(github.head_ref, 'yolo')
            || startsWith(github.head_ref, 'release')
            )
        run: |
          whereis git
          git fetch origin master
          python .github/scripts/check_newsfragments.py ${{ github.head_ref }}

      - name: Patch pre-commit for line-ending
        run: |
          sed -i '/id: mixed-line-ending/a\        args: [ --fix=lf ]' .pre-commit-config.yaml
          cat .pre-commit-config.yaml

      - uses: ./.github/actions/use-pre-commit
