{% extends "base.html" %}
{% block title %}{{ super() }}Not found :'({% endblock %}
{% block body %}
<div class="text-center">
    <img src="/static/parsec-vert.png" alt="Parsec logo" class="logo">
    <div class="main-title-spacer bg-primary"></div>
    <h1 class="text-secondary text-center">Not found :'(</h1>
    <p class="text-muted text-center" style="font-size: 1.5em;">
        The page you are looking for does not exist.
    </p>
    <div class="main-title-spacer bg-primary"></div>
</div>
{% endblock %}
