{% extends "base.html" %}
{% block body %}
<div class="text-center">
  <img src="/static/parsec-vert.png" alt="Parsec logo" class="logo">
  <div class="main-title-spacer bg-primary"></div>
  <h1 class="text-secondary text-center">
    Parsec backend server is running !
  </h1>
  <div style="justify-content: center;">
    <p class="text-muted text-left" style="font-size: 1.5em;margin-bottom: 0;">
      Now you should :
    </p>
    <ul class="text-left text-muted">
      <!-- HTML links that open in a new tab or window allow the target page to access the DOM of the
        origin page using window.opener unless link type noopener or noreferrer is specified. -->
      <li><a href="https://www.parsec.cloud/get-parsec" rel="noopener noreferrer" target="_blank">Install the Parsec
          client</a></li>
      <li><a href="https://docs.parsec.cloud" rel="noopener noreferrer" target="_blank">Have a look at the
          documentation</a></li>
    </ul>
  </div>
  <div class="main-title-spacer bg-primary"></div>
</div>
{% endblock %}
